h1{
    font-family: fantasy, sans-serif;
}
.descricao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #C0D8CC;
    width: 400px;
    padding: 15px 25px;
    border-radius: 20px;
    border-color: grey;
    box-shadow: 1px 1px 2px grey;
}
body{
    background-color: #f1f1ef;
    font-size: 16px;
}
strong{
    color:#330036
}
ul{
    background-color: #C0D8CC;
    padding: 15px 40px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 1px 1px 2px grey;
}
#links{
    line-height: 30px
}
li{
    font-size: 19px;
    color:#330036
}
img{
    border-radius: 60px;
    width: 250px;
    padding: 20px;
}
.color-align{
    color: #214E34;
}
h3{
    font-size: 22px;
}
a{
    text-decoration: none;
}